@value appBrandGlobal from 'shared/colors';
@value appBrand: #00D8FF;

@svg-load logo url('./react-logo.svg') {
  #Layer_1 path {
    fill: #F00;
    stroke: #F00;
  }
};

@svg-load logo2 url('./react-logo.svg') {
  #Layer_1 path {
    fill: appBrand;
    stroke: appBrand;
  }
};

@svg-load logo3 url('./react-logo.svg') {
  #Layer_1 path {
    fill: appBrandGlobal;
    stroke: appBrandGlobal;
  }
};

.container {
  display: flex;
}

.sample1 {
  background: svg-inline(logo) center;
  width: 100px;
  height: 89.4736842px;
}

.sample2 {
  background: svg-inline(logo2) center;
  width: 100px;
  height: 89.4736842px;
}

.sample3 {
  background: svg-inline(logo3) center;
  width: 100px;
  height: 89.4736842px;
}

